*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.central_banner{
  margin-top: 10px;
  width: 100%;
  height: 330px;
  border:  2px solid #0031cf;
  border-left: none;
  border-right: none;
}
.central_carousel{
  margin: auto;
  text-align: center;
  width: 95%;
  height: 300px;
}
.central_carousel img{
  width: 100%;
  height: 300px;
  margin: 10px auto;
}