* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cabecalho {
  background-color: #349beb;
  width: 100%;
  height: 120px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/*.cabecalho {
  background-color: #349beb;
  width: 100%;
  height: auto;
  display: block;
}*/
.cabecalho__imagem {
  background-color: #349beb;
  width: 120px;
}

.navegacao {
  margin: 0;
  /*display: none;*/
}

.navegacao__menu {
  background-color: #349beb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navegacao__menu-itens {
  background-color: #349beb;
  margin-right: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__itens-link {
  background-color: #349beb;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;

}

.linha {
  background-color: #349beb;
  width: 100%;
  height: 7px;
  /*background-color: #000;*/
  border-radius: 5px;
}

.navegacao_menu-linha {
  background-color: #349beb;
  cursor: pointer;
}

.navegacao_menu-linha:hover .cor_linha-1 {
  background-color: #000;
  margin: 10px 0;
}

.navegacao_menu-linha:hover .cor_linha-2 {
  background-color: #0031cf;
  margin: 10px 0;
}

.navegacao_menu-linha:hover .cor_linha-3 {
  background-color: #1e46c6;
  margin: 10px 0;
}

.navegacao_menu-linha:hover .cor_linha-4 {
  background-color: #3659cb;
  margin: 10px 0;
}

.navegacao-menu_mobile{
  display: block;
  width: 100%;
  margin-top: 0%;
  z-index: 1;
  text-align: center;
}
.linha-menu-moblie{
  list-style-type: none;
  margin-top: 15px;
  
/*}
.box_link{
  background-color: #349beb;
}
.box_link img{
  background-color: #349beb;
  cursor: pointer;
}*/
/*.none{
  display: none;
}*/



