*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cabecalho {
  background-color: #349beb;
  width: 100%;
  height: 120px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cabecalho__imagem {
  background-color: #349beb;
  width: 120px;
}
.navegacao {
  margin: 0 ;
}
.navegacao__menu {
  background-color: #349beb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navegacao__menu-itens {
  background-color: #349beb;
  margin-right: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__itens-link {
  background-color: #349beb;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
                                                
}
.linha {
  background-color: #349beb;
  width: 100%;
  height: 7px;
  /*background-color: #000;*/
  border-radius: 5px;
}
.navegacao_menu-linha{
  background-color: #349beb;
  cursor: pointer;
}
.navegacao_menu-linha:hover .cor_linha-1{
  background-color: #000;
  margin: 10px 0;
}
.navegacao_menu-linha:hover .cor_linha-2{
  background-color: #0031cf;
  margin: 10px 0;
}
.navegacao_menu-linha:hover .cor_linha-3{
  background-color: #1e46c6;
  margin: 10px 0;
}
.navegacao_menu-linha:hover .cor_linha-4{
  background-color: #3659cb;
  margin: 10px 0;
}