*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.col-1-4,
.col-2-4,
.col-3-4,
.col-4-4 {
	width: 22%;
	margin: auto ;
	display: inline-block;
	align-items: center;
	justify-content: space-evenly;
	cursor: pointer;
	/* border: 1px solid yellow; */
}


.flip-card {
	background-color: transparent;
	width: 217px;
	height: 234px;
	perspective: 1000px;
	float: left;
	margin: 20px 120px 0;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front img{
	width: 217px;
	height: 234px;
	border-radius: 2%;
  }
  
  .flip-card-back {
	background-color: #172A42;
	color: white;
	transform: rotateY(180deg);
	position: relative;
  }

  .flip-card-back p{
	  position: absolute;
  }
@media screen and (max-width: 820px){
	.col-1-4,
	.col-2-4,
	.col-3-4,
	.col-4-4 {
		width: 100%;
		margin: 0 3%;
		display: block;
		align-items: center;
		justify-content: center;
	}

}